<div class="container">

	<ul>


		{:% for image in site.static_files %}
			{:% if image.path contains 'img/' %}
				{:% if image.extname == '.jpg' %}
					<a href="" title="">
					<div style="width:200px; height:365px; float:left; margin:3px 3px; display:inline; background-image:url(); background-repeat:no-repeat; background-size:auto;"></div>
					</a>
				{:% endif %}
			{:% endif %}
		{:% endfor %}


		{% for pub in site.publications %}

			<li style="padding: 0.1em; margin: 0;">{{pub[0]}}, <a href="{{pub[2]}}" target="_blank">{{pub[1]}}</a></li>

		{% endfor %}

	</ul>

  <header class="major">

    <h2>{{site.namesmall}}</h2>

    <p>{{site.tagline}}</p>

  </header>

  <p>{{site.bio}}</p>

</div>