<div class="container">

    <h3>Projects</h3>

    <p></p>

    <div class="features">

        <article>

            <a href="{{site.proj1-link}}" class="image"><img src="{{site.proj1-image}}" alt=""/></a>

            <div class="inner">

                <a href="{{site.proj1-link}}" target="_blank"><h4>{{site.proj1}}</h4></a>

                <p>{{site.proj1-desc}}</p>

            </div>

        </article>

        <article>

            <a href="{{site.proj2-link}}" class="image"><img src="{{site.proj2-image}}" alt="" target="_blank"/></a>

            <div class="inner">

                <a href="{{site.proj2-link}}" target="_blank"><h4>{{site.proj2}}</h4></a>

                <p>{{site.proj2-desc}}</p>

            </div>

        </article>

        <article>

            <a href="{{site.proj3-link}}" class="image"><img src="{{site.proj3-image}}" alt="" target="_blank"/></a>

            <div class="inner">

                <a href="{{site.proj3-link}}" target="_blank"><h4>{{site.proj3}}</h4></a>

                <p>{{site.proj3-desc}}</p>

            </div>

        </article>
		
        <article>

            <a href="{{site.proj4-link}}" class="image"><img src="{{site.proj4-image}}" alt="" target="_blank"/></a>

            <div class="inner">

                <a href="{{site.proj4-link}}" target="_blank"><h4>{{site.proj4}}</h4></a>

                <p>{{site.proj4-desc}}</p>

            </div>

        </article>
		
        <article>

            <a href="{{site.proj5-link}}" class="image"><img src="{{site.proj5-image}}" alt="" target="_blank"/></a>

            <div class="inner">

                <a href="{{site.proj5-link}}" target="_blank"><h4>{{site.proj5}}</h4></a>

                <p>{{site.proj5-desc}}</p>

            </div>

        </article>

    </div>

</div>